<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1>GPA Calculator</h1>
            </div>
            <div id="content">
                <div id="nav">
                    <h3>Navigation</h3>
                    <ul>
                        <li>Home</li>
                        <li>About</li>
                        <li>Contact</li>

                    </ul>
                </div>
                <div id="main">
                    <h2>York University, 9-Point Scale</h2>
                    <p>Visit /input to get started.</p>

                </div>
            </div>
            <div id="footer">
                Copyright &copy; 2020 Nabi Khalid.
            </div>
        </div>
    </body>
</html>